<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Solution</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="/">IIC-Troubleshoot</a>


        </div>
    </nav>
    <!-- event -->
    <section class="contact section" id="enter">
        <div class="container">
            <div class="col">
                <h6>Name</h6>
                <p class="row">
                    <%= solution.uname%>
                </p>
                <h6>Email</h6>
                <p class="row">
                    <%= solution.email%>
                </p>
                <h6>Branch</h6>
                <p class="row">
                    <%= solution.branch%>
                </p>
                <h6>Semester</h6>
                <p class="row">
                    <%= solution.semester%>
                </p>
                <h6>USN</h6>
                <p class="row">
                    <%= solution.USN%>
                </p>
               
                
                <h6>My solution</h6>
                <p class="row">
                    <a href="/uploads/<%= solution.stu_file%>" target="_blank">>>View my solution document </a>

                </p>
                <a href="/event/<%= solution._id %>/edit"><i class="fas fa-pencil-alt"></i> Edit</a>


            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="ml-auto col-lg-4 col-md-5">
                    <p class="copyright-text">Copyright &copy; 2022 IIC JSSSTU

                        <br>Designed by: IIC JSSSTU TEAM
                    </p>
                </div>

                <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                    <p class="mr-4">
                        <i class="fa fa-envelope-o mr-1"></i>
                        <a href="#">iic@jssstuniv.in</a>
                    </p>

                    <!-- <p><i class="fa fa-phone mr-1"></i> 010-020-0840</p> -->
                </div>

            </div>
        </div>
    </footer>
    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://cdn.logwork.com/widget/countdown.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>
